.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ListParent {
  display: grid;
  width: 100%;
  border: 16px;
  padding: 4px;
}
.ListButton {
  font-size: 20px;
  size: 40px;
  padding: 16px;
  background-color: aquamarine;
  font-weight: bold;
}
.ListButtonSelected {
  font-size: 20px;
  background-color: crimson;
  font-weight: bold;
}
.ListTreeNode {
  display: flex;
  border: 16px;
  padding: 4px;
}
.moveButton {
  background-color: cornflowerblue;
  font-weight: bold;
  padding: 16px;
}
